src/main/resources/schema/wsdl/SparkMarketingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="urn:spi2.ru:SparkMarketing"
             name="SparkMarketingService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:spi2.ru:SparkMarketing"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    <types>
        <xs:schema version="1.0" targetNamespace="urn:spi2.ru:SparkMarketing"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:element name="loadFile" type="tns:loadFile"/>

            <xs:element name="loadFileResponse" type="tns:loadFileResponse"/>

            <xs:complexType name="loadFile">
                <xs:sequence>
                    <xs:element name="sparkRequest" type="tns:sparkRequest" form="qualified" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sparkRequest">
                <xs:sequence>
                    <xs:element name="url" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="loadFileResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:sparkResponse" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sparkResponse">
                <xs:sequence>
                    <xs:element name="fileId" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="loadFile">
        <part name="parameters" element="tns:loadFile"/>
    </message>
    <message name="loadFileResponse">
        <part name="parameters" element="tns:loadFileResponse"/>
    </message>
    <portType name="SparkMarketing">
        <operation name="loadFile">
            <input wsam:Action="urn:spi2.ru:SparkMarketing:SparkMarketing:loadFileRequest" message="tns:loadFile"/>
            <output wsam:Action="urn:spi2.ru:SparkMarketing:SparkMarketing:loadFileResponse"
                    message="tns:loadFileResponse"/>
        </operation>
    </portType>
    <binding name="SparkMarketingPortBinding" type="tns:SparkMarketing">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="loadFile">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SparkMarketingService">
        <port name="SparkMarketingPort" binding="tns:SparkMarketingPortBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
        </port>
    </service>
</definitions>
